#container {
  background-color: rgb(243, 236, 249);
  margin: 5vw 35vw 0vw 36vw;
  padding: 20px;
  text-align: center;
  box-shadow: 1px 2px 5px;
}

mat-form-field {
  display: block;
}

h1 {
  text-align: center;
  margin: 4vw;
  font-size: xx-large;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#err{
  margin-top: -20px;
}